<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="loggingPattern"
              value="%d %level [%logger{0}]- %m%n"/>
    <!-- console appender-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${loggingPattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>